<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="First Edition Companion"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name=".CharacterCreationActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MainActivityV11"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
